<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>i254 || pricing</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="http://cdn.ishidigital.com/pricingtable/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.ishidigital.com/pricingtable/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.ishidigital.com/pricingtable/css/icons.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.ishidigital.com/pricingtable/css/component.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.ishidigital.com/pricingtable/css/style12.css" />
		<script src="http://cdn.ishidigital.com/js/snap.svg-min.js"></script>
  		<script src="http://cdn.ishidigital.com/js/modernizr.custom.js"></script>
    <!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <div class="container">


        <section class="pricing-section bg-2">
            <div id="header-items">
             <div id="logo">
                        <span class="pricing-section__title pricing__title" id="lg">
                      &lt; i254/ &gt;
                      </span>

                </div>
             <section class="menu-item">
<img src="http://cdn.ishidigital.com/img/open.png" id="trigger-overlay" class="image-open">
<!--				<p><button id="trigger-overlay" type="button">Open Overlay</button></p>-->
			</section>
            </div>



            <div class="pricing pricing--dawa">
                <div class="pricing__item">
                    <h3 class="pricing__title">Stardand</h3>
                    <p class="pricing__sentence">For Start Ups</p>
                    <div class="pricing__price"><span class="pricing__currency">ksh</span>40K<span class="pricing__period">/ project</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Free Ux</li>
                        <li class="pricing__feature">Database Intergration</li>
                        <li class="pricing__feature">max 7 pages</li>
                    </ul>
                                        <a href="/requestquote">
                    <button class="pricing__action">Get this</button></a>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Profesional</h3>
                    <p class="pricing__sentence">Rank Up your Business</p>
                    <div class="pricing__price"><span class="pricing__currency">ksh</span>80k<span class="pricing__period">/ project</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Free Ux</li>
                        <li class="pricing__feature">Complex Database and RDBS</li>
                        <li class="pricing__feature">Max 15 pages</li>
                    </ul>
                                        <a href="/requestquote">
                    <button class="pricing__action">Get this</button></a>
                </div>
                <div class="pricing__item">
                    <h3 class="pricing__title">Ecommerce</h3>
                    <p class="pricing__sentence">Make money off your website</p>
                    <div class="pricing__price"><span class="pricing__currency">ksh</span>120k<span class="pricing__period">/ Project</span></div>
                    <ul class="pricing__feature-list">
                        <li class="pricing__feature">Payment gateway intergration</li>
                        <li class="pricing__feature">Free Ux</li>
                        <li class="pricing__feature">No limit to pages</li>
                    </ul>
                    <a href="/requestquote">
                    <button class="pricing__action">Get this</button>
                </div>
                </a>
            </div>
        </section>
        </div>
    <!-- /container -->
    <div class="overlay overlay-genie" data-steps="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z;m 698.9986,728.03569 41.23353,0 -3.41953,77.8735 -34.98557,0 z;m 687.08153,513.78234 53.1506,0 C 738.0505,683.9161 737.86917,503.34193 737.27015,806 l -35.90067,0 c -7.82727,-276.34892 -2.06916,-72.79261 -14.28795,-292.21766 z;m 403.87105,257.94772 566.31246,2.93091 C 923.38284,513.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 455.17312,480.07689 403.87105,257.94772 z;M 51.871052,165.94772 1362.1835,168.87863 C 1171.3828,653.78233 738.73561,372.23931 737.27015,806 l -35.90067,0 C 701.32034,404.49318 31.173122,513.78234 51.871052,165.94772 z;m 52,26 1364,4 c -12.8007,666.9037 -273.2644,483.78234 -322.7299,776 l -633.90062,0 C 359.32034,432.49318 -6.6979288,733.83462 52,26 z;m 0,0 1439.999975,0 0,805.99999 -1439.999975,0 z">
			<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1440 806" preserveAspectRatio="none">
				<path class="overlay-path" d="m 701.56545,809.01175 35.16718,0 0,19.68384 -35.16718,0 z"/>
			</svg>
			<button type="button" class="overlay-close">Close</button>
			<nav id="link-list">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/prices">Pricing</a></li>
					<li><a href="/requestquote">Request Quote</a></li>
					<li><a href="/feedback">Contact</a></li>
				</ul>
			</nav>
		</div>
		<script src="http://cdn.ishidigital.com/js/classie.js"></script>
		<script src="http://cdn.ishidigital.com/js/demo12.js"></script>
</body>

</html>
